.container
  .row
    form#login-credentials.col.s12
      unless message
        h4.margin-bottom-50 {{ifThen isSettingPassword 'Set Password & '}}{{ifElse isNewAccount 'Create Account' 'Sign In'}}
        .row
          each inputs
            .input-field(class="col s{{s}} m{{m}}")
              input.validate(
                id="{{value}}"
                placeholder="{{placeholder}}"
                type="{{type}}"
                name="{{value}}"
              )
              label(
                for="{{value}}"
                class="{{value}}"
              ) {{lowerCase value}}
        .row
          .col.s12.m12
            button.btn.btn-primary.waves-effect.waves-light.width-100(type="submit") {{ifElse isNewAccount 'Create Account' 'Sign In'}}
        unless isSettingPassword
          .row
            .col.s12.m12
              a#signin-status.clickable {{ifElse isNewAccount 'Sign in with existing credentials' 'Create a new account'}}
      else
        h4.margin-bottom-50 Check Your Email
        span To finish setting up your account, we have emailed you a link to follow. Please note: while this app is scary fast, the email servers work at their own pace, so please be patient. It can take a few minutes to get that sweet, sweet enrollment link you desire.
